* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Audiowide", cursive;
  font-family: "Bangers", cursive;
  font-family: "Jolly Lodger", cursive;
  font-family: "Metal Mania", cursive;
  font-family: "Reggae One", cursive;
  font-family: "Trade Winds", cursive;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
  color: white;
}
.navbar {
  font-family: "Trade Winds", cursive;
  background-color: #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-brand {
  font-size: 3rem;
}
.navbar-nav {
  font-size: 1.5rem;
}
.container {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.7);
  justify-content: center;
  min-height: 100vh;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.card-container {
  font-family: "Trade Winds", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 220px;
  height: 70vh;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.members-card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.members-card:hover {
  transform: rotateY(180deg);
}
.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
  text-align: center;
}
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #534848;
  color: #000;
  text-align: center;
  transform: rotateY(180deg);
}
.member-name {
  font-family: "Bangers", cursive;
  font-size: 2rem;
  color: white;
}
/* margins */
.margin-bottom-100 {
  margin-bottom: 50px;
}
/* paddings */
.padding-bottom-100 {
  padding-bottom: 100px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card-container {
    margin-bottom: 50px;
  }
}
